.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    color: white;
  }
  
  .navbar-logo {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .navbar-links li {
    display: inline;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  .signup-btn {
    background-color: #852FFF;
    padding: 8px 15px;
    border-radius: 5px;
  }
    